<div class="banner">
    <div class="container">
      <h2 class="text-end">Detalle del producto</h2>
    </div>
</div>

<div class="container">
<ul>
  <% @products.each do |product| %>
    
      <%= image_tag product.image_url, class:"imagenproducto" %>
      <%= product.name  %>, 
      <%= product.conent %>
      $<%= product.price %>
      <%= product.price.currency %>
      <%= link_to new_order_path(product_id: product.id) do %>
      <div class="btn btn-info">Comprar</div>
      <% end %>
  <% end %>
</ul>
</div>

<div class="row">
    <div class="col-6">.col-6</div>
    <div class="col-6">.col-6</div>
  </div>
</div>
