<div class="banner">
    <div class="container">
      <h2 class="text-end">Detalle del producto</h2>
    </div>
</div>

<div class="container">
<ul>
  <% @products.each do |product| %>
    
      <%= image_tag product.image_url, class:"imagenproducto" %>
      <%= product.name  %>, 
      <%= product.conent %>
      $<%= product.price %>
      <%= product.price.currency %>
      <%= link_to new_order_path(product_id: product.id) do %>
      <% end %>
    <div class="btn btn-info">Comprar</div>
  <% end %>
</ul>
</div>
