<div class="banner">
    <div class="container">
      <h2 class="text-end">End aligned text on all viewport sizes.</h2>
    </div>
</div>
<ul>
  <% @products.each do |product| %>
    <li>
      <%= product.name  %>, 
      <%= product.conent %>
      $<%= product.price %>
      <%= product.price.currency %>
      <%= link_to new_order_path(product_id: product.id) do %>
        <div class="btn btn-info">Comprar</div>
      <% end %>
    </li>

  <% end %>
</ul>
